@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: #353836;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  